<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="xTune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <xTune.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fileTimingsLast" serializeAs="String">
                <value />
            </setting>
            <setting name="annotatorProgram" serializeAs="String">
                <value>C:\\PortableApps\\SonicAnnotator\\sonic-annotator.exe</value>
            </setting>
            <setting name="pluginsPath" serializeAs="String">
                <value>\"C:\\Program Files (x86)\\Vamp Plugins\\\"</value>
            </setting>
            <setting name="saveFormat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="doBarsBars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoBeatsFull" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doSpectrum" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doTranscribe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alignBarsBeats" serializeAs="String">
                <value>25ms</value>
            </setting>
            <setting name="doOnsets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeSignature" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="doSegments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doPitchKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doVocals" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MRUAudio0" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUAudio1" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUAudio2" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUAudio3" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUAudio4" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUAudio5" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUAudio6" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUAudio7" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUAudio8" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUAudio9" serializeAs="String">
                <value />
            </setting>
            <setting name="fileAudioLast" serializeAs="String">
                <value />
            </setting>
            <setting name="doBars" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doBeatsHalf" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doBeatsThird" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doBeatsQuarter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doFlux" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doChords" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doTempo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startBeat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MRUTimings0" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUTimings1" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUTimings2" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUTimings3" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUTimings4" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUTimings5" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUTimings6" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUTimings7" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUTimings8" serializeAs="String">
                <value />
            </setting>
            <setting name="MRUTimings9" serializeAs="String">
                <value />
            </setting>
            <setting name="detectBars" serializeAs="String">
                <value />
            </setting>
            <setting name="detectOnsets" serializeAs="String">
                <value />
            </setting>
            <setting name="methodBarsBeats" serializeAs="String">
                <value />
            </setting>
            <setting name="methodOnsets" serializeAs="String">
                <value />
            </setting>
            <setting name="methodTranscribe" serializeAs="String">
                <value />
            </setting>
            <setting name="methodSpectrum" serializeAs="String">
                <value />
            </setting>
            <setting name="methodPitchKey" serializeAs="String">
                <value />
            </setting>
            <setting name="methodTempo" serializeAs="String">
                <value />
            </setting>
            <setting name="alignOnsets" serializeAs="String">
                <value />
            </setting>
            <setting name="alignTranscribe" serializeAs="String">
                <value />
            </setting>
            <setting name="alignSegments" serializeAs="String">
                <value />
            </setting>
            <setting name="alignVocals" serializeAs="String">
                <value />
            </setting>
            <setting name="alignSpectrum" serializeAs="String">
                <value />
            </setting>
            <setting name="alignPitchKey" serializeAs="String">
                <value />
            </setting>
            <setting name="alignTempo" serializeAs="String">
                <value />
            </setting>
            <setting name="labelOnsets" serializeAs="String">
                <value />
            </setting>
            <setting name="labelTranscribe" serializeAs="String">
                <value />
            </setting>
            <setting name="labelSpectrum" serializeAs="String">
                <value />
            </setting>
            <setting name="labelPitchKey" serializeAs="String">
                <value />
            </setting>
            <setting name="labelTempo" serializeAs="String">
                <value />
            </setting>
            <setting name="whiteBarsBeats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="whiteOnsets" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sensitivityOnsets" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="reuseFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </xTune.Properties.Settings>
    </userSettings>
</configuration>
