<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lor_o_Tune.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Lor_o_Tune.Properties.Settings>
            <setting name="lastMusicFile" serializeAs="String">
                <value />
            </setting>
            <setting name="lastOutputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="lastChannelFile" serializeAs="String">
                <value />
            </setting>
            <setting name="lastPresetFile" serializeAs="String">
                <value />
            </setting>
        </Lor_o_Tune.Properties.Settings>
    </userSettings>
</configuration>