<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RGBORama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RGBcolorChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RGBORama.Properties.Settings>
            <setting name="lastColorFrom1" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom2" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo1" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo2" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom4" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom5" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom6" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo4" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo5" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo6" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeTo" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorOpt" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeOpt" serializeAs="String">
                <value />
            </setting>
            <setting name="lastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Location" serializeAs="String">
                <value>100, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lastColorFrom7" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo7" serializeAs="String">
                <value />
            </setting>
            <setting name="LastPreset" serializeAs="String">
                <value />
            </setting>
        </RGBORama.Properties.Settings>
        <RGBcolorChanger.Properties.Settings>
            <setting name="lastColorFrom1" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom2" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo1" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo2" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom4" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom5" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom6" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo4" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo5" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo6" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeTo" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorOpt" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeOpt" serializeAs="String">
                <value />
            </setting>
            <setting name="lastFile" serializeAs="String">
                <value />
            </setting>
        </RGBcolorChanger.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.1460.0.48" newVersion="20.1460.0.48" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
