<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UtilORama4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UtilORama4.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="filenameSource" serializeAs="String">
                <value />
            </setting>
            <setting name="filenameDest" serializeAs="String">
                <value />
            </setting>
            <setting name="filepathBase" serializeAs="String">
                <value />
            </setting>
            <setting name="filenameMap" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
        </UtilORama4.Properties.Settings>
    </userSettings>
</configuration>