<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UtilORama4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MergeORama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <UtilORama4.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastNewFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MergeTracks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeTracksByName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DuplicateNameAction" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AddNumberFormat" serializeAs="String">
                <value> (#)</value>
            </setting>
            <setting name="MergeGrids" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeGroupsByName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeEffects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
        </UtilORama4.Properties.Settings>
        <MergeORama.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastNewFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MergeTracks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeTracksByName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DuplicateNameAction" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AddNumberFormat" serializeAs="String">
                <value> (#)</value>
            </setting>
            <setting name="MergeGrids" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeGroupsByName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeEffects" serializeAs="String">
                <value>True</value>
            </setting>
        </MergeORama.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.1460.0.48" newVersion="20.1460.0.48" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Windows" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.3460.0.48" newVersion="19.3460.0.48" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
