<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StripViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StripViewer.Properties.Settings>
            <setting name="LastFile" serializeAs="String">
                <value>D:\\!MyDocs\\Light-O-Rama\\Visualizations\\BettyStrips.lee</value>
            </setting>
            <setting name="StartCh1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PixelCt1" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PixelCt2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PixelCt3" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Universe2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Universe3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Track" serializeAs="String">
                <value>1</value>
            </setting>
        </StripViewer.Properties.Settings>
    </userSettings>
</configuration>