<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TuneORama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TuneORama.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>300, 300</value>
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fileSeqLast" serializeAs="String">
                <value />
            </setting>
            <setting name="annotatorProgram" serializeAs="String">
                <value>C:\\PortableApps\\SonicAnnotator\\sonic-annotator.exe</value>
            </setting>
            <setting name="pluginsPath" serializeAs="String">
                <value>\"C:\\Program Files (x86)\\Vamp Plugins\\\"</value>
            </setting>
            <setting name="doAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doNoteOnsets" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doBeatGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doPoly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doBeatTrack" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useRampsPoly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useSaveFormat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="fileChanCfgLast" serializeAs="String">
                <value />
            </setting>
            <setting name="useChanCfg" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useOctaveGrouping" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doSpectrogram" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doChroma" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fooo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="doAutoLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gridBeatsX" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="trackBeatsX" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="useRampsBeats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="doConstQ" serializeAs="String">
                <value>True</value>
            </setting>
        </TuneORama.Properties.Settings>
    </userSettings>
</configuration>