<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="UtilORama4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <userSettings>
    <UtilORama4.Properties.Settings>
      <setting name="Location" serializeAs="String">
        <value>99, 9</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>255, 255</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="fileTimingsLast" serializeAs="String">
        <value />
      </setting>
      <setting name="annotatorProgram" serializeAs="String">
        <value>C:\\PortableApps\\SonicAnnotator\\sonic-annotator.exe</value>
      </setting>
      <setting name="pluginsPath" serializeAs="String">
        <value>\"C:\\Program Files (x86)\\Vamp Plugins\\\"</value>
      </setting>
      <setting name="saveFormat" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="doBarsBars" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DoBeatsFull" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="doSpectrum" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="doTranscribe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="alignBarsBeats" serializeAs="String">
        <value>40fps, 25ms</value>
      </setting>
      <setting name="doOnsets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="timeSignature" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="doSegments" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="doPitchKey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="doVocals" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MRUfilesAudio0" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUfilesAudio1" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUfilesAudio2" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUfilesAudio3" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUfilesAudio4" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUfilesAudio5" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUfilesAudio6" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUfilesAudio7" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUfilesAudio8" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUfilesAudio9" serializeAs="String">
        <value />
      </setting>
      <setting name="fileAudioLast" serializeAs="String">
        <value />
      </setting>
      <setting name="doBars" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="doBeatsHalf" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="doBeatsThird" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="doBeatsQuarter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="doFlux" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="doChords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="doTempo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="startBeat" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MRUTimings0" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUTimings1" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUTimings2" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUTimings3" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUTimings4" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUTimings5" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUTimings6" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUTimings7" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUTimings8" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUTimings9" serializeAs="String">
        <value />
      </setting>
      <setting name="detectBars" serializeAs="String">
        <value />
      </setting>
      <setting name="detectOnsets" serializeAs="String">
        <value />
      </setting>
      <setting name="methodBarsBeats" serializeAs="String">
        <value />
      </setting>
      <setting name="methodOnsets" serializeAs="String">
        <value />
      </setting>
      <setting name="methodTranscribe" serializeAs="String">
        <value />
      </setting>
      <setting name="methodSpectrum" serializeAs="String">
        <value />
      </setting>
      <setting name="methodPitchKey" serializeAs="String">
        <value />
      </setting>
      <setting name="methodTempo" serializeAs="String">
        <value />
      </setting>
      <setting name="alignOnsets" serializeAs="String">
        <value>Quarter Beats</value>
      </setting>
      <setting name="alignTranscribe" serializeAs="String">
        <value />
      </setting>
      <setting name="alignSegments" serializeAs="String">
        <value>Bars</value>
      </setting>
      <setting name="alignVocals" serializeAs="String">
        <value />
      </setting>
      <setting name="alignSpectrum" serializeAs="String">
        <value>40fps, 25ms</value>
      </setting>
      <setting name="alignPitchKey" serializeAs="String">
        <value>Beats</value>
      </setting>
      <setting name="alignTempo" serializeAs="String">
        <value>Bars</value>
      </setting>
      <setting name="labelOnsets" serializeAs="String">
        <value />
      </setting>
      <setting name="labelTranscribe" serializeAs="String">
        <value />
      </setting>
      <setting name="labelSpectrum" serializeAs="String">
        <value />
      </setting>
      <setting name="labelPitchKey" serializeAs="String">
        <value />
      </setting>
      <setting name="labelTempo" serializeAs="String">
        <value />
      </setting>
      <setting name="whiteBarsBeats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="whiteOnsets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sensitivityOnsets" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="reuseFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="stepSize" serializeAs="String">
        <value />
      </setting>
      <setting name="methodSegments" serializeAs="String">
        <value />
      </setting>
      <setting name="labelSegments" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence0" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence1" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence2" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence3" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence4" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence5" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence6" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence7" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence8" serializeAs="String">
        <value />
      </setting>
      <setting name="MRUsequence9" serializeAs="String">
        <value />
      </setting>
      <setting name="UsexLights" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseLOR" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MRUAudio10" serializeAs="String">
        <value />
      </setting>
      <setting name="autoLaunch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ramps" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastWarnVer" serializeAs="String">
        <value>0.0</value>
      </setting>
      <setting name="LastxLightsTimingsSavePath" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputLocation" serializeAs="String">
        <value>100, 50</value>
      </setting>
      <setting name="OutputSize" serializeAs="String">
        <value>600, 450</value>
      </setting>
      <setting name="OutputWindowState" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="alignBarBeats" serializeAs="String">
        <value />
      </setting>
      <setting name="labelBarBeats" serializeAs="String">
        <value />
      </setting>
      <setting name="doChromagram" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="methodChromagram" serializeAs="String">
        <value />
      </setting>
      <setting name="labelChromagram" serializeAs="String">
        <value />
      </setting>
      <setting name="alignChromagram" serializeAs="String">
        <value />
      </setting>
      <setting name="methodChords" serializeAs="String">
        <value />
      </setting>
      <setting name="labelChords" serializeAs="String">
        <value />
      </setting>
      <setting name="alignChords" serializeAs="String">
        <value />
      </setting>
    </UtilORama4.Properties.Settings>
  </userSettings>
</configuration>