<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StripORama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="StripMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <StripORama.Properties.Settings>
            <setting name="lastFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="Track" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeywdelCt1" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt3" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt4" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Universe1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Universe2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Universe3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Universe4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GroupSize1" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize2" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize3" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize4" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="StripName1" serializeAs="String">
                <value>Strip 1</value>
            </setting>
            <setting name="StripName2" serializeAs="String">
                <value>Strip 2</value>
            </setting>
            <setting name="StripName3" serializeAs="String">
                <value>Strip3</value>
            </setting>
            <setting name="StripName4" serializeAs="String">
                <value>Strip 4</value>
            </setting>
            <setting name="ColorOrder1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Reverse1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Make2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>200, 20</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>500, 400</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
        </StripORama.Properties.Settings>
        <StripMaker.Properties.Settings>
            <setting name="lastFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="Track" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeywdelCt1" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt3" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt4" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Universe1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Universe2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Universe3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Universe4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GroupSize1" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize2" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize3" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize4" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="StripName1" serializeAs="String">
                <value>Strip 1</value>
            </setting>
            <setting name="StripName2" serializeAs="String">
                <value>Strip 2</value>
            </setting>
            <setting name="StripName3" serializeAs="String">
                <value>Strip3</value>
            </setting>
            <setting name="StripName4" serializeAs="String">
                <value>Strip 4</value>
            </setting>
            <setting name="ColorOrder1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Reverse1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Make2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLeft" serializeAs="String">
                <value>0</value>
            </setting>
        </StripMaker.Properties.Settings>
    </userSettings>
</configuration>
