<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UtilORama4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UtilORama4.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UtilORama4.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>200, 50</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>600, 600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DBPath" serializeAs="String">
                <value />
            </setting>
        </UtilORama4.Properties.Settings>
        <UtilORama4.Settings1>
            <setting name="Location" serializeAs="String">
                <value>200, 50</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>600, 600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
        </UtilORama4.Settings1>
    </userSettings>
</configuration>