<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ListORama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ChannelRemapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ListORama.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>774, 729</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSeqFile" serializeAs="String">
                <value />
            </setting>
            <setting name="RegNonKeywd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RGBNonKeywd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GroupNonKeywd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegKeywd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RGBKeywd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GroupKeywd" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastVisVile" serializeAs="String">
                <value />
            </setting>
            <setting name="TrackNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Headers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LORcontrolled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DMXcontrolled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DigitalControlled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoController" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SortOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Keyword" serializeAs="String">
                <value>Pixel</value>
            </setting>
            <setting name="LastVizFile" serializeAs="String">
                <value />
            </setting>
            <setting name="VizMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Duplicates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackName" serializeAs="String">
                <value />
            </setting>
        </ListORama.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.2460.0.62" newVersion="19.2460.0.62" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
