<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RGBcolorChanger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RGBcolorChanger.Properties.Settings>
            <setting name="lastColorFrom1" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom2" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo1" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo2" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo3" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom4" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom5" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorFrom6" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo4" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo5" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorTo6" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeTo" serializeAs="String">
                <value />
            </setting>
            <setting name="lastColorOpt" serializeAs="String">
                <value />
            </setting>
            <setting name="lastTimeOpt" serializeAs="String">
                <value />
            </setting>
            <setting name="lastFile" serializeAs="String">
                <value />
            </setting>
        </RGBcolorChanger.Properties.Settings>
    </userSettings>
</configuration>