<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UniverseMaker.Multiverse" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <UniverseMaker.Multiverse>
            <setting name="lastFile" serializeAs="String">
                <value>%CSIDL_MYDOCUMENTS%\Light-O-Rama\Sequences\Sample.lee</value>
            </setting>
            <setting name="Track" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Universe1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReverseOrder1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PixelCt1" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="SecondUniverse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Universe2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ColorOrder2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReverseOrder2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PixelCt2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ThirdUniverse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Universe3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ColorOrder3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReverseOrder3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PixelCt3" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="BaseName1" serializeAs="String">
                <value>Pixel</value>
            </setting>
            <setting name="BaseName2" serializeAs="String">
                <value>Pixel</value>
            </setting>
            <setting name="BaseName3" serializeAs="String">
                <value>Pixel</value>
            </setting>
        </UniverseMaker.Multiverse>
    </userSettings>
</configuration>