<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UtilORama4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MapORama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="ChannelRemapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <UtilORama4.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDestFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>774, 729</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMapFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSourceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="nevermind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceOnRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FuzzyUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuzzyCaseSensitive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuzzyWriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FuzzyMinPrematch" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="FuzzyMinFinal" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="FuzzyFinalAlgorithms" serializeAs="String">
                <value>6328448</value>
            </setting>
            <setting name="FuzzyPrematchAlgorithm" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="LastSaveFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseRamps" serializeAs="String">
                <value>False</value>
            </setting>
        </UtilORama4.Properties.Settings>
        <MapORama.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastDestFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>774, 729</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMapFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastSourceFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="nevermind" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SourceOnRight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FuzzyUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuzzyCaseSensitive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuzzyWriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FuzzyMinPrematch" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="FuzzyMinFinal" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="FuzzyFinalAlgorithms" serializeAs="String">
                <value>6328448</value>
            </setting>
            <setting name="FuzzyPrematchAlgorithm" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="LastSaveFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="AutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
        </MapORama.Properties.Settings>
        <ChannelRemapper.Properties.Settings>
            <setting name="BasePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DestFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>774, 729</value>
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monitor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastMapFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastSequence" serializeAs="String">
                <value/>
            </setting>
        </ChannelRemapper.Properties.Settings>
    </userSettings>
</configuration>
