<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Syncfusion.Core.WinForms" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.DataSource.WinForms" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Grid.Base" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.GridCommon.WinForms" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Licensing" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.SfListView.WinForms" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Shared.Base" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Shared.Windows" version="16.2.0.50" targetFramework="net462" />
  <package id="Syncfusion.Tools.Base" version="16.2.0.50" targetFramework="net462" />
</packages>