<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="StringORama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="StripORama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="BatchMaker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <StringORama.Properties.Settings>
            <setting name="lastFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="LORTrack4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FenceStartCh" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TreeStartCh" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FenceSections" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="PixPer2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="TreeCols" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PixPer4" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="FenceUniverse" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Universe2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TreeUniverse" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Universe4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GroupSize1" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize2" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="TreeRows" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="GroupSize4" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="FenceBaseName" serializeAs="String">
                <value>Batch 1</value>
            </setting>
            <setting name="batchName2" serializeAs="String">
                <value>Batch 2</value>
            </setting>
            <setting name="TreeBaseName" serializeAs="String">
                <value>Batch3</value>
            </setting>
            <setting name="batchName4" serializeAs="String">
                <value>Batch 4</value>
            </setting>
            <setting name="FenceColorOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TreeColorOrder" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FenceReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TreeReverse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reverse4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MakeFence" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MakeAirship" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MakeTree" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>100, 20</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>512, 611</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TreePixs" serializeAs="String">
                <value>3</value>
            </setting>
        </StringORama.Properties.Settings>
        <StripORama.Properties.Settings>
            <setting name="lastFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="LORTrack4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeywdelCt1" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt3" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt4" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Universe1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Universe2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Universe3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Universe4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GroupSize1" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize2" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize3" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize4" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="batchName1" serializeAs="String">
                <value>Batch 1</value>
            </setting>
            <setting name="batchName2" serializeAs="String">
                <value>Batch 2</value>
            </setting>
            <setting name="batchName3" serializeAs="String">
                <value>Batch3</value>
            </setting>
            <setting name="batchName4" serializeAs="String">
                <value>Batch 4</value>
            </setting>
            <setting name="ColorOrder1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Reverse1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Make2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>100, 20</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>512, 611</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
        </StripORama.Properties.Settings>
        <BatchMaker.Properties.Settings>
            <setting name="lastFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="LORTrack4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KeywdelCt1" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt3" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="KeywdelCt4" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Universe1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Universe2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Universe3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Universe4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GroupSize1" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize2" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize3" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="GroupSize4" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="batchName1" serializeAs="String">
                <value>Batch 1</value>
            </setting>
            <setting name="batchName2" serializeAs="String">
                <value>Batch 2</value>
            </setting>
            <setting name="batchName3" serializeAs="String">
                <value>Batch3</value>
            </setting>
            <setting name="batchName4" serializeAs="String">
                <value>Batch 4</value>
            </setting>
            <setting name="ColorOrder1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ColorOrder4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Reverse1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Reverse4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Make2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Make4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FormLeft" serializeAs="String">
                <value>0</value>
            </setting>
        </BatchMaker.Properties.Settings>
    </userSettings>
</configuration>
