<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SplitORama.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <SplitORama.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>100, 10</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FileSeqLast" serializeAs="String">
                <value/>
            </setting>
            <setting name="FileSelLast" serializeAs="String">
                <value/>
            </setting>
            <setting name="Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useFuzzy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="preMatchScore" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="finalMatchScore" serializeAs="String">
                <value>950</value>
            </setting>
            <setting name="SaveFormat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FuzzyFinalAlgorithms" serializeAs="String">
                <value>6328448</value>
            </setting>
            <setting name="FuzzyPrematchAlgorithm" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="FuzzyUse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuzzyCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FuzzyWriteLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FuzzyMinPrematch" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="FuzzyMinFinal" serializeAs="String">
                <value>95</value>
            </setting>
        </SplitORama.Properties.Settings>
    </userSettings>
</configuration>
