<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="stripMaker.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <stripMaker.Settings>
            <setting name="lastFile" serializeAs="String">
                <value>%CSIDL_MYDOCUMENTS%\Light-O-Rama\Sequences\myfile.lee</value>
            </setting>
            <setting name="Track" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartCh1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PixelCt1" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ColorOrder1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReverseOrder1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Universe1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Universe2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SecondUniverse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartCh2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PixelCt2" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ColorOrder2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReverseOrder2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Universe3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ThirdUniverse" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartCh3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PixelCt3" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ColorOrder3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReverseOrder3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartCh4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PixelCt4" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ColorOrder4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ReverseOrder4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Universe4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Grouping1" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Grouping2" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Grouping3" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Grouping4" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="StripName1" serializeAs="String">
                <value>Strip 1</value>
            </setting>
            <setting name="StripName2" serializeAs="String">
                <value>Strip 2</value>
            </setting>
            <setting name="StripName3" serializeAs="String">
                <value>Strip 3</value>
            </setting>
            <setting name="StripName4" serializeAs="String">
                <value>Strip 4</value>
            </setting>
        </stripMaker.Settings>
    </userSettings>
</configuration>